@font-face {
  font-family: "reinkies";
  src: url("/website/Fonts/reinkies/reinkies-alzl2-webfont.woff") format("woff");
  src: url("/website/Fonts/reinkies/reinkies-alzl2-webfont.woff2")
    format("woff");
  src: url("/website/Fonts/reinkies/Reinkies-ALzl2.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "aversa";
  src: url("/website/Fonts/aversa/Aversa-Vectors.woff") format("woff");
  src: url("/website/Fonts/aversa/Aversa-Vectors.woff2") format("woff");
  src: url("/website/Fonts/aversa/Aversa-Vectors.otf") format("opentype");
  src: url("/website/Fonts/aversa/Aversa-Vectors.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@media (min-aspect-ratio: 16/9) {
  #myVideo {
    width: 100%;
    height: auto;
    right: 0;
    bottom: 0;
  }
}

@media (max-aspect-ratio: 16/9) {
  #myVideo {
    width: auto;
    min-height: 100%;
    justify-self: center;
  }
}

@media only screen and (max-width: 600px) {
  #myVideo {
    width: auto;
    min-height: 100%;
    left: -127%;
    
  }
}

html {
  height: 100%;
}
body {
  min-height: 100%;
  background-color: black;
}

#myVideo {
  position: fixed;
  opacity: 20%;
  z-index: -1;
  filter: grayscale(0.8);
  /* license-free videos from pexels.com, edited together.
    Credits: business-people:Fauxels & cottonbro studios,      piano:Kendall Hoopes,alarm-clock:Samsuddoha Shaikh, milky-way:vimeo */
}

.autograph {
  font-family: "reinkies";
  font-size: 50px;
  
}
.brushstroke {
  font-family: "aversa", "reinkies";
  font-size: 300px;
}

.custom_spacing {
  margin-top: 8vh;
}
