@font-face {
  font-family: "reinkies";
  src: url("/website/Fonts/reinkies/reinkies-alzl2-webfont.woff") format("woff");
  src: url("/website/Fonts/reinkies/reinkies-alzl2-webfont.woff2")
    format("woff");
  src: url("/website/Fonts/reinkies/Reinkies-ALzl2.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "aversa";
  src: url("/website/Fonts/aversa/Aversa-Vectors.woff") format("woff");
  src: url("/website/Fonts/aversa/Aversa-Vectors.woff2") format("woff");
  src: url("/website/Fonts/aversa/Aversa-Vectors.otf") format("opentype");
  src: url("/website/Fonts/aversa/Aversa-Vectors.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@media (min-aspect-ratio: 16/9) {
  #myVideo {
    width: 100%;
    height: auto;
    right: 0;
    bottom: 0;
  }
  #music_bg_img {
    width: auto;
    height: 100%;
    top: -20rem;
  }
}

@media (max-aspect-ratio: 16/9) and (min-width: 767px) {
  #myVideo {
    width: auto;
    min-height: 100%;
  }
  #music_bg_img {
    width: auto;
    min-height: 100%;
  }
}

@media only screen and (max-width: 767px) {
  #myVideo {
    width: auto;
    min-height: 100%;
    left: -127%;
  }
  #music_bg_img {
    min-width: 1500px;
    min-height: 100%;
    left: -34rem;
    top: -11rem;
    background-position: center top;
  }
}

html {
  height: 100%;
}
body {
  height: 100%;
  background-color: black;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
h6{
  font-size: medium;
}

/*-- INDEX.html --*/
#myVideo {
  position: fixed;
  opacity: 20%;
  z-index: -1;
  filter: grayscale(0.8);
  /* license-free videos from pexels.com, edited together.
    Credits: business-people:Fauxels & cottonbro studios,      piano:Kendall Hoopes,alarm-clock:Samsuddoha Shaikh, milky-way:vimeo */
}

.autograph {
  font-family: "reinkies";
  font-size: 50px;
}
.brushstroke {
  font-family: "aversa", "reinkies";
  font-size: 300px;
}

.custom_spacing {
  margin-top: 8vh;
}




/*-- MUSIC.html --*/
#music_bg_img {
  position: fixed;
  opacity: 0.32;
  filter: grayscale(0.8);
  z-index: -1;
  overflow: auto;
  width: 100%;
  height: auto;
}
.music_container{

}
.music_brush {
  font-family: "reinkies";
  font-size: 80px;
  animation-name: fadeIn;
  animation-duration: 5s;
}
.text_animation{
  animation: text_animation 10s;
  opacity: 0.8;
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes text_animation{
  0% { opacity: 0; }
  100% { opacity: 0.8; }
}


.reinkies_normal{
  font-family: "reinkies";
  font-size: x-large;
  color: #eb7a01;
  /* text-decoration: 1px underline rgb(0, 0, 0); */
}

.card {
  background-color: transparent;
}
