@font-face {
  font-family: "aversa";
  src: url(/Fonts/aversa/Aversa-Vectors.woff) format("woff");
  src: url(/Fonts/aversa/Aversa-Vectors.woff2) format("woff");
  src: url(/Fonts/aversa/Aversa-Vectors.otf) format("opentype");
}
@font-face {
  font-family: "reinkies";
  src: url(/website/Fonts/reinkies-alzl2-webfont.woff) format("woff");
  src: url(/website/Fonts/reinkies-alzl2-webfont.woff2) format("woff");
  src: url(/website/Fonts/Reinkies-ALzl2.otf) format("opentype");
}
body {
  /*background-color: rgb(18, 29, 13);*/
  background-color: black;
}
head{
    background-color: black;
}

.autograph {
  font-family: "reinkies";
  font-weight: normal;
  font-style: normal;
  font-size: 50px;
  text-align: center;
}
.brushstroke {
  font-family: "aversa", "reinkies", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 250px;
}
#myVideo {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  /*bottom: -5rem;*/
  /*bottom: -15rem;
    /*left: -10rem;*/
  right: 0;
  opacity: 20%;
  z-index: -1;
  filter: grayscale(0.8);
  /*license-free videos from pexels.com, edited together.
    Credits: business-people:Fauxels & cottonbro studios,
    piano:Kendall Hoopes,alarm-clock:Samsuddoha Shaikh, milky-way:vimeo*/
}
